Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

Ans. Keywords in Python are reserved words that have predefined meanings and cannot be used as identifiers. They define the structure and logic of the code.

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Q.2. What are the rules to create variables in python?

Ans. The rules to create variables in python are:

a. Variables can contain letters, numbers and underscores. Python is case sensitive and hence 'TheVariable' and 'theVariable' are different variable names.

b. Variable names cannot start with numbers.

c. Variable names must not include special characters like @,#,$ etc.

d. You should avoid using reserved keywords for variable names.

Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?

Ans.

Below are the standards and conventions followed:

a. Variable names must be meaningful to the overall program being written.

b. Words within the variables should be lower case and should be separated by underscores.

e. You should avoid using long variable names. Ensure they are as small as possible whilst having the most meaning in terms of the program in general.

f. Avoid using single letter variable names. eg. avoid using i as a variable name in the for loop. Instead use a variable name which is more meaningful for the for loop.

Q.4. What will happen if a keyword is used as a variable name?

Ans. This will give you a syntaxerror as you cannot assign a value to a variable.

Q.5. For what purpose def keyword is used?

Ans.

Def keyword in python is used for creating a function.

syntax for creating a function is

def function_name(parameters):

  '#function logic

Q.6. What is the operation of this special character ‘\’?

Ans. "\\" has different usages as below:

a. It can be used as an escape sequence for new line (\\n), tab (\\t) or for escaping special characters in strings.

b. It can be used for line continuation within strings in case the string is too long for the IDE to accept.

c. It can be used for representing unicode and special characters.

Q.7. Give an example of the following conditions:

(i) Homogeneous list
Ans. A homogenous list is a list which contain homogenous data. Eg. either all are integers or all are strings. eg. a = \['ads, 'dfs', 'fsa'], b = \[12,5,2]

(ii) Heterogeneous set
Ans. It is a list that contains heterogenous data i.e. data of different data type.


(iii) Homogeneous tuple
Ans. It is a tuple which contains homogenous data. eg. either all data are integers or all are strings etc.

Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Ans. Mutable data types are those data types which can be modified or changed after creation. eg. of these are lists, dictionaries, sets.

Immutable data types are those data types which can be modified or changed after creation. eg. of these are tuples, int, float, bool, string, unicode.

Q.9. Write a code to create the given structure using only for loop.


![Screenshot 2023-07-07 164947.png]()

Ans.

In [11]:
rows = 5

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")

    for _ in range(0,2*i-1):
        print("* ", end="")

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

Q.10. Write a code to create the given structure using while loop.


![image.png]()

In [12]:
rows = 5
for i in range(rows,0,-1):
    for j in range(rows-i):
        print(' ', end='')

    for j in range(2*i-1):
        print('|',end='')
    print()

|||||||||
 |||||||
  |||||
   |||
    |